/* css variables */
:root {
	--icon-size: 24px;
	--icon-size-s: 20px;
	--icon-size-xs: 16px;
}

/* general css */
html,
body {
	padding: 0;
	margin: 0;
	background: var(--nextui-colors-background);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* scrollbar styling */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--nextui-colors-border);
	outline: none;
}

/* note page styling */
.note-metadata-table td {
	padding: 0;
}

.note-metadata-table th {
	padding: 0;
	padding-right: 3rem;
}

/* menubar styling */
.is-active {
	background-color: var(--nextui-colors-accents2) !important;
}

.menu-divider {
	background-color: var(--nextui-colors-border);
	height: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: 1px;
}

/* editor styling */
div[contenteditable] {
	outline: 0px solid transparent;
}

.ProseMirror:focus {
	outline: none;
}

/* NextUI components */
.nextui-collapse-view {
	padding: 0;
}

.nextui-collapse {
	margin: 0 0 10px 0 !important;
	padding: 10px !important;
	box-shadow: none !important;
}

.nextui-collapse-content {
	padding: 0;
}

.nextui-collapse--open {
}
.ProseMirror img.ProseMirror-selectednode {
	outline: 3px solid #68cef8;
}

.editor-ul {
	list-style-type: disc;
}

.editor-link {
	color: var(--nextui-colors-primary);
	text-decoration: underline;
}

.editor-link:hover {
	text-decoration: underline;
}

/* Youtube embed styling */
iframe {
	border: none;
	width: 100%;
	height: 100%;
}

div[data-youtube-video] {
	aspect-ratio: 4/3;
	max-height: 480px;
}

/* remove default x symbol in search input */
input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

/* image resizer styling */
.image-small {
	max-width: 200px;
}
.image-medium {
	max-width: 500px;
}
.image-large {
	max-width: 100%;
}
.image-float-none {
	float: none;
}
.image-float-left {
	float: left;
}
.image-float-right {
	float: right;
}

.bubble-menu {
	display: flex;
	background-color: #0d0d0d;
	padding: 0.2rem;
	border-radius: 0.5rem;
}

/* color picker styling (in group modal) */
#color-picker {
	width: 5rem;
	border: none;
	outline: none;
	background-color: transparent;
	border-color: transparent;
	-webkit-appearance: none;
}

#color-picker::-webkit-color-swatch-wrapper {
	padding: 0;
}
#color-picker::-webkit-color-swatch {
	border: 1px solid var(--nextui-colors-border);
	border-radius: var(--nextui-radii-lg);
}

/* home page & sign in page background keyframes*/
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinleft {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spinleft {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spinleft {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.output {
	white-space: pre-line;
}

.ProseMirror p.is-editor-empty:first-child::before {
	color: var(--nextui-colors-textDisabled);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
