html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
  border-radius: 5px;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Editor styling */
.ProseMirror:focus {
  outline: none;
}

.is-active {
  background-color: var(--nextui-colors-accents2) !important;
}

.menu-divider {
  background-color: var(--nextui-colors-border);
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1px;
}
